.chatList {

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;
  font-size: 18px;
  align-items: flex-start;


  hr {
    border: none;
    height: 2px;
    background-color: #ddd;
    opacity: 0.1;
    border-radius: 5px;
    margin: 20px 0px;
  }

  a {
    padding: 10px;
    border-radius: 10px;

    &:hover {
      background-color: #2c2937;
    }
  }

  .chats {
    text-align: center;

    overflow: scroll;

    p {
      margin-bottom: 1rem;
    }
  }

  .proSection {
    margin-top: auto;
    display: flex;
    place-items: center;

    gap: 0.5rem;

    img {
      height: 20px;
    }

    div {

      font-size: 13px;
      font-weight: lighter;

    }
  }
}