.endOfChat {

  padding-bottom: 50px;
}


.newPrompt {

  margin-bottom: 1rem;

  display: flex;
  flex-direction: column;




  .newForm {
    display: flex;
    place-items: center;
    justify-content: space-between;
    background-color: #0e0c16;
    padding: 0 .5rem;
    border-radius: 11px;



    .search {
      flex: 1;
      border: none;
      outline: none;
      padding: 10px;
      border-radius: 11px;
      background-color: #0e0c16;
      color: white;
      text-align: center;

    }

    button, label {

      border-radius: 50%;
      background-color: #211c33;
      border: none;
      padding: 10px;
      display: flex;
      place-items: center;
      cursor: pointer;

    }

    img {
      height: 17px;
    }


  }
}